/* 1.vị trí
2.kích thước
3.màu sắc
4.fort chữ */
#main{

}
.header{
        height: 46px;
        background-color:beige;
        width: 100%;
        text-align-last: center;

}
.sidebar{
        height: 46px;
        background-color:cadetblue;
        width: 100%;

}
.sidebar ul{
        list-style: none;
        
}
.sidebar ul li a img{
        vertical-align: middle;
        width: 25px;
        padding: 8px;
    }
.nav > li {
        display:inline-block;
}
.nav > li >a{
        text-transform:uppercase;
}

.nav li {
        display:inline-block;
        position: relative;

}
.nav .subnav {
        display:none;
        min-width:160px;
        position: absolute;
        box-shadow:0 0 10px;
        top :100%;
        left:0;
}

.nav .subnav li:hover {
        color: #000;
        background-color: beige;

}
.nav li a { 
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        color: black;
        line-height: 46px;
        padding: 0 24px ;
        display: block;
}
.nav li:hover .subnav{
        display: block;

} 
.nav > li:hover > a,
.nav .subnav li:hover a{
        color: #000;
        background-color: beige;


}
.modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display:flex;
        animation: fadeIn linear 0.1s;
}
.modal_overlay{
        position:absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
}


/* authen modal */
.auth-form{
        width:500px;
        background-color:white;
}
.auth-form_container{
        padding:0 32px;
}
.auth-form_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding : 0 12px;

}
.auth-form_heading{
        font-size: 1.6rem;
        font-weight: 400;
        color:black;
}
.auth-form_switch-btn{
        font-size: 1.6rem;
        font-weight: 400;
        color:cadetblue;
        cursor: pointer;

}

.auth-form_form{
        margin-top: ;
}
.auth-form_input{
        width:100%;
        height:40px;
        margin-top: 16px;
        padding: 0 12px;
        font-size: 1.2rem;
        border: 1px solid #dbdbdb;
        border-radius: 3px;
        outline: none;
}
.auth-form_input{
        border-color: #666;
}
.auth-form_aside{
        margin-top: 18px;
}
.auth-form_text-link{
        text-decoration-line: none;
        color: var(--primary-color);
}
.auth-form_policy-text{
        font-size:1.2rem;
        line-height:1.8rem;
        text-align: center;
        padding: 0 12px;
       
}
.auth-form_controls{
        margin-top:50px;
        display:flex;
        justify-content: flex-end;
}
.auth-form_controls-back{
        margin-right:8px;
}
.auth-form_socials {
        background-color: #dbdbdb;
        padding: 12px 36px;
        display: flex;
        justify-content:space-between;
        margin-top: 26px;

}
/* login */
.auth-form_help{
        display:flex;
        justify-content:flex-end;
}
.auth-form_help-link {
        text-decoration: none;
        font-size: 1.2rem;
        color:cadetblue;
}
.auth-form_help-separate {
        display: block;
        border-left: 1px solid var(--border-color);
        margin: 0 16px;
}