:root {
    --main-text-font: Arial, Helvetica, sans-self;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.space-between {
    justify-content: space-between;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.top {
    padding: 12px 0;
    align-items: center;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}
.top-active {
    background-color: rgba(255, 255, 255, 1);
}
.top:hover {
    background-color: rgba(255, 255, 255, 1);
}
.top-logo {
    flex: 1;
}
.top-menu-items {
    flex: 3;
}
.top-menu-items >ul {
    height: 100%;
    display: flex;
}
.top-menu-items > ul > li {
    font-family: var(--main-text-font);
    padding: 0 12px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.top-menu-items ul li::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    bottom: -50%;
}
.top-menu-items ul li:nth-child(4) {
    color: red;
}
.top-menu-items ul li:nth-child(5) {
    color: red;
}
.top-menu-item {
    position: absolute;
    width: 200px;
    top: 100px;
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
    background-color: #fff;
    height: auto!important;
    padding: 6px;
    border: 1px solid #ddd;
}
.top-menu-items ul li:hover .top-menu-item {
    display: block;
    top: 60px;
    opacity: 1;
}
.top-menu-item li {
    line-height: 25px;
    display: flex;
    justify-content: left!important;
}
.top-menu-item li a {
    font-size: 12px;
    text-align: left;
    text-transform: capitalize;
    color: #333;
    font-family: var(--main-text-font);
}

/* top-menu-icons */
.top-menu-icons {
    flex: 1;
}
.top-menu-icons ul {
    display: flex;
    height: 100%;
}
.top-menu-icons ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
}
.top-menu-icons ul li::before {
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    width: 1px;
    background-color: #333;
    right: 0;
}
.top-menu-icons ul li:last-child::before {
    display: none;
}
.top-menu-icons ul li:first-child input {
    width: 150px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #333;
    padding: 0 0 4px 6px;
}
.top-menu-icons ul li:first-child i {
    position: absolute;
    font-size: 12px;
    right: 12px;
}
.top-menu-icons ul i {
    cursor: pointer;
}
/* ------------------------------ Slider -------------------------- */
.sliders {
    padding-bottom: 20px;
    overflow: hidden;
    width: 100vw;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: all 0.3s ease;
}
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.dot-container {
    /* position: relative; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}
.dot {
    width: 15px;
    height: 15px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.active {
    background-color: #333;
}
/* --------------- footer ------ */
.footer {
    padding: 100px 0 0;
    border-top: 2px solid black;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-container p {
    font-weight: bold;
    font-size: 18px;
    font-family: var(--main-text-font);
}
.app-google {
    margin: 25px 0;
}
.app-google img {
    width: 150px;
    cursor: p;
}
.input-email {
    position: relative;
    width: 300px;
    margin: auto;
    margin-top: 30px;
}
.footer-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.footer-items li {
    padding: 12px;
    position: relative;
}
.footer-items li a {
    color: #333;
    font-family: var(--main-text-font);
    font-weight: bold;
    font-size: 12px;
}
.footer-items li::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 50%;
    background-color: #ccc;
    right: 0;
}
.footer-items li:last-child::after {
    display: none;
}
.footer-items li:last-child i {
    font-size: 12px;
    margin-right: 12px;
    color: #333;
}
.footer-items li:last-child i:hover {
    color: black;
}
.footer-items img {
    width: 100px;
}
.footer-text {
    text-align: center;
    font-size: 12px;
    font-family: var(--main-text-font);
}
.footer-bottom {
    padding: 10px 0;
    font-size: 12px;
    font-family: var(--main-text-font);
    background-color: #ddd;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.category {
    padding: 100px 0 0;
}
.category-top {
    margin-bottom: 50px;
}
.category-top p {
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.category-left {
    width: 20%;
}
.category-right {
    width: 80%;
}
.category-right-top-item:first-child {
    flex: 2;
    font-size: 16px;
    font-family: var(--main-text-font);
    font-weight: bold;
}
.category-right-top-item {
    flex: 1;
    padding: 0 12px;
}
.category-right-top-item button {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}
.category-right-top-item select {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}
.category-right-content {
    margin-top: 20px;
    justify-content: space-between;
}
.category-right-content-item {
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}
.category-right-content-item h1 {
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 6px;
    color: #333;
}
.category-right-content-item img {
    width: 100%;
}
.category-right-bottom {
    justify-content: space-between;
    margin: 30px 0 20px;
    width: 100%;
}
.category-right-bottom p {
    font-family: var(--main-text-font);
    font-size: 11px;
}
.category-left ul li {
    padding: 12px 0;
}
.category-left ul li > a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.category-left ul li ul li {
    padding-left: 10px;
}
.category-left-li {
    display: none;
}
.category-left-li.block ul {
    display: block;
}
.category-left ul li ul li a {
    color: #333;
    font-size: 13px;
}